/*  your css code here. If applicable */
#container{
	background-color:rgb(204, 204, 204);
	width:60%;
	padding:1px;
}
#h1{
	text-align:center;
}
#now{
	text-align:center;
}
#mp3{
	text-align:center;
}
#List{
	background-color:white;
	border-radius:10px;
	width:92%;
	margin-left:20px;
	border-style:solid;
	border-color:black;
	margin-bottom:30px;
	overflow:hidden;
	display:block;
	flex-direction:column;
}
#list{
	list-style-type:none;
}
#vdad{
	background-color:white;
	padding:10px;
	border-radius:10px;
	width:50%;
	border-style:solid;
	border-color:black;
	margin:20px;
	padding-right:0px;
	justify-content:center;
	margin-bottom:10px;
	overflow:hidden;
	display:block;
	align-items:center;
}
#v{
	width:100%;
	background-color: rgb(255, 255, 255);
	display:flex;
	align-items:center;
}
#a{
	width:100%;
	background-color: rgb(255, 255, 255);
	display:block;
	align-items:center;
}